.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  padding-right: 24px;
}

.item:hover {
  opacity: 0.9;
  border-radius: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
