.container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;

  @media (max-width: 800px) {
    height: 100vh;
  }
}

.list {
  /* overflow-y: auto;
  max-height: calc(100vh - 158px); */
}